
.main{
    border: 1px solid seagreen
}
button{
    width: 30%;
}

.example-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-form-field{
      display: inline;
  }
  div{
      margin:auto; 
  }